* {
    box-sizing: border-box;
}
body {
    background-color: #F9EBE0;
    margin: 0;
}
.credentialsPage {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    gap: 15px;
    max-width: 300px;
}
