* {
    box-sizing: border-box;
}
body {
    background-color: #F9EBE0;
    display: flex;
    justify-content: center;
    place-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50;
    border-radius: 15px;
    text-align: center;
    gap: 15px;
    max-width: 300px;
}
